@tailwind base;
@tailwind components;
@tailwind utilities;
p, h1, h2, h3, h4,a,button{
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.ctaTestClass{
    div{
        @apply bg-black;
    }
}
