@import 'predefined';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}
body {
  @apply flex flex-col;
}
* {
  box-sizing: border-box;
}

@layer base {
  * {
    @apply text-base;
    font-family: monospace;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
  p {
    @apply text-base;
  }

  a {
    @apply text-primary cursor-pointer;

    &:hover {
      @apply text-primary-light;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Roboto;
  }
}
